@import url("./global/animations.css");

article {
  display: flex;
  max-width: 75%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

article .title {
  margin-bottom: 3rem;
}

article .description {
  height: 40dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

article .description__p {
  width: 75%;
  align-self: center;
  text-wrap: balance;
}


@media (max-width: 600px) {
  article .description {
    height: 80dvh;
  }

  article .description__p {
    width: 100%;
    align-self: auto;
  }

  article .description__button {
    width: 100%;
  }
}
